aniso8601==1.2.1
beets==1.4.3
click==6.7
docopt==0.6.2
Flask==1.0
Flask-RESTful==0.3.5
itsdangerous==0.24
jellyfish==0.5.6
Jinja2==2.11.3
MarkupSafe==1.1.1
munkres==1.0.8
musicbrainzngs==0.6
mutagen==1.37
python-dateutil==2.6.0
pytz==2017.2
PyYAML==5.4
requests==2.20.0
six==1.10.0
Unidecode==0.4.20
Werkzeug==0.15.3
